.signUpContainer {
  background: url("../../assets/SignIn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px; 
  height: 100vh;
  .signUpPaper {
    padding: 30px;
    width: 30%;
    height: auto;
    margin: 0px auto;
  }
  
  .formControlstyle {
    margin-top: 5px;
  }
  
}

