body
{
    font-family: Quicksand,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
    overflow-x: hidden;
    margin:0px;
}

*{
    font-family: Quicksand,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
}
header
{
    /*background-color: #ffae00;*/
    background-color: #000000;  
    margin:0px;
}